<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" class="nav-link" routerLink="images/create">Imagenes</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link" routerLink="usuarios/create">Usuarios</a>
          </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>




