<br><br>
<div class="container">
    <div class="column">

        <div class="row col-md-10">
            <div class="form-group m-1">
                <label>Nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.name">
            </div>

            <div class="form-group  m-1">
                <label>Correo Electronico:</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.email">
            </div>

            <div class="form-group  m-1">
                <label>Celular: </label>
                <input type="text" class="form-control" [(ngModel)]="usuario.cellphone">
            </div>

            <hr>
                <button type="button" class="btn btn-primary btn-success btn-sm" (click)="validateStatusButton()">{{textButton}}</button>&nbsp;
            
        </div>

        <div class="column">
            <br>
            <div class="row-1">
                <div class="row card col-5 img-card-jm" style="width: 18rem;" *ngFor="let usuario of usuarios | async">
                    <img class="card-img-top" src="http://www.sohocapitalmedan.com/images/sohocapitalmedan_06news/1501578764_user.jpg" alt="Card image cap" width="100" height="180">
                    <div class="card-body">
                        <h5 class="card-title">{{usuario.name}}</h5>
                        <h5 class="card-title">{{usuario.email}}</h5>
                        <p class="card-text">
                            {{usuario.cellphone}} <br>
                        </p>
                        <div class="row">
                            <button type="button" class="btn btn-primary col-5" (click)="getUsuario(usuario.id)">Editar</button>
                            &nbsp;
                            <button type="button" class="btn btn-danger col-5" (click)="deleteUsuario(usuario.id)">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
